
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
	--branco: #ffffff;
	--preto: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
/* ESTILO BARRA DE ROLAGEM */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: var(--branco);
}
::-webkit-scrollbar-thumb {
	background-color: #bbbbbb;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #cccccc;
}
/* FIM ESTILO BARRA DE ROLAGEM */
body{
	font-family: 'poppins', Arial, Helvetica, sans-serif;
	font-weight: 200;
}
/* ESTILO MENU */
nav {
	display: flex;
	align-items: center;
	
}
header nav a {
	padding: 8px;
	border-radius: 5px;
	color: #000000;
	text-decoration: none;
	
}
header nav a:hover{
	text-decoration: underline;
	color: #4e5255;
}
/* FIM ESTILO MENU */
main{
	margin: 5px;
}
/* ESTILO FOTOS GRIS */
.destaques {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: calc(80vh - 60px);
}
.destaques__principal {
    background: url(../img/reciclagemgrid1.jpg) center / cover no-repeat; /* position, size, repeat*/
    grid-column: 1 / 4;    /* Onde começa e onde termina*/
    grid-row: 1 / 3;
}
.destaques__secundario:nth-child(2){ /* nth-child = número do filho dentro do main*/
    background: url(../img/reciclagemgrid2.jpg) center / cover;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}
.destaques__secundario:nth-child(3){
    background: url(../img/reciclagemgrid3.jpg) center / cover;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}
.destaques__secundario:nth-child(4){
    background: url(../img/reciclagemgrid4.jpg) center / cover;
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}
.destaques__secundario:nth-child(5){
    background: url(../img/reciclagemgrid5.jpg) center / cover;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}
.destaques__secundario:nth-child(6){
    background: url(../img/reciclagemgrid6.jpg) center / cover;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}
.destaques__secundario:nth-child(7){
    background: url(../img/reciclagemgrid7.jpg) center / cover;
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}
/* FIM ESTILO FOTOS GRID */
/* ESTILO TIPOS DE MATERIAIS RECICLÁVEIS */
.tipos{
	margin-top: 15px;
	padding: 10px;
	border-radius: 5px;
}
hr{
	color: #ccc;
}
.titulo{
	text-align: center;
	padding: 10px;
}
.info-a{
	color: var(--preto);
	padding: 10px;
	border-radius: 8px;
	text-align: center;
	width: 40%;
	display: inline-block;
	margin-left: 60px;
	margin-top: 10px;
	
}
/* FIM ESTILO TIPOS DE MATERIAIS RACICLÁVEIS */
/* ESTILO PERSONAGEM PÁG LOCAIS */
.personagem{
display: flex;
justify-content: center;
}
.mensagem-personagem{
	position: absolute;
	color: var(--preto);
	text-align: center;
	top: 30%;
	left: 51.5%;
	width: 250px;
	line-height: 30px;
	height: 85px;
	font-family: 'poppins'Arial, Helvetica, sans-serif;
	font-weight: 500;
}
/* FIM ESTILO PERSONAGEM PÁG LOCAIS */
/* ESTILO SOBRE */
.sobre-a{
	display: inline-block;
	margin-top: 9%;
	margin-bottom: 12%;
	margin-left: 8%;
}
#linha-vertical{
	border-left: 2px solid;
	border-radius: 20px;
	box-sizing:border-box;
	height: 300px;
	position:absolute;
	left: 37%;
	top: 20%;	
}
/* FIM ESTILO SOBRE */
/* ESTILO FOTOS TIPOS PARA CALCULAR */
#fotos{
	text-align: center;
}
div.box {
    display: inline-block;
	margin-left: 10%;
    text-align: center;
}
/* FIM ESTILO FOTOS TIPOS PARA CALCULAR */
/* ESTILO FORMULÁRIO CALCULADORA */
.row {
	padding: 0 50px;
	display: table;
	width: 100%;
	padding: 40px;
}
form {
	width: 50%;
	margin: 0 auto;
	box-shadow: 0 4px 8px #999999;
	padding: 20px;
}
input {
	width: 100%;
	padding: 10px;
	margin-bottom: 2px;
	
}
label {
	font-weight: bold;
	padding-bottom: 5px;
	margin-left: 25%;
	
}
button {
	background-color: var(--branco);
	border: 1px solid #008037;
	color: #008037;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
}
/* FIM ESTILO FORMULÁRIO CALCULADORA */
/* ESTILO CONTATO */
footer {
	font-size: 16px;
	text-align: center;
	background-color: #4e5255;
	color: var(--branco);
	padding: 5px;
	margin-top: 10px;
}
footer a{
	color: var(--branco);
	text-align: center;
}
footer a:hover {
	text-decoration: underline;
	color: rgb(99, 202, 250);
}
/* FIM ESTILO CONTATO */